* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #6A735F;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


.title {
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}



.calc-container {
    height: 450px;
    width: 350px;
    background-color: #2B324F;
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.screen-calc {
    flex: 1;
    background-color: #1A1F32;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.buttons-calc {
    flex: 4;
    display: flex;

}

.left {
    flex: 3;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

.left div {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.left div button {
    flex: 1;
}

.first .clear {
    background-color: #FF9F1C;
    color: #2B324F;
    font-size: 1.8rem;
}

.first .clear:hover {
    background-color: #E8890B;
}

.first .erase {
    background-color: #FFD166;
    font-size: 1.8rem;
    color: #2B324F;
}

.first .erase:hover {
    background-color: #F4C430;

}

.fifth .dot {
    background-color: #6C63FF;
    color: #FFFFFF;
    font-size: 2rem;
}

.fifth .dot:hover {
    background-color: #554EE6;
}

.number {
    background-color: #2EC4B6;
    color: #102A43;
    font-size: 1.5rem;
}

.number:hover {
    background-color: #1FA89A;
    ;
}


.right {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.right button {
    flex: 1;
    font-size: 1.5rem;
    background-color: #e53935;
}

.right button:hover {
    background-color: #c62828;
}